/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * brother-1816:
 *   - http://typekit.com/eulas/00000000000000003b9b03c7
 *   - http://typekit.com/eulas/00000000000000003b9b03c8
 *   - http://typekit.com/eulas/00000000000000003b9b03c9
 *   - http://typekit.com/eulas/00000000000000003b9b03ca
 *   - http://typekit.com/eulas/00000000000000003b9b03cd
 *   - http://typekit.com/eulas/00000000000000003b9b03ce
 *   - http://typekit.com/eulas/00000000000000003b9b03d1
 *   - http://typekit.com/eulas/00000000000000003b9b03d2
 *   - http://typekit.com/eulas/00000000000000003b9b03d5
 *   - http://typekit.com/eulas/00000000000000003b9b03d6
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-12-13 16:41:42 UTC"}*/

@import url("p.css");

@font-face {
font-family:"brother-1816";
src:url("l") format("woff2"),url("d") format("woff"),url("a") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-1") format("woff2"),url("d-1") format("woff"),url("a-1") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-2") format("woff2"),url("d-2") format("woff"),url("a-2") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-3") format("woff2"),url("d-3") format("woff"),url("a-3") format("opentype");
font-display:auto;font-style:italic;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-4") format("woff2"),url("d-4") format("woff"),url("a-4") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-5") format("woff2"),url("d-5") format("woff"),url("a-5") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-6") format("woff2"),url("d-6") format("woff"),url("a-6") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-7") format("woff2"),url("d-7") format("woff"),url("a-7") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-8") format("woff2"),url("d-8") format("woff"),url("a-8") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"brother-1816";
src:url("l-9") format("woff2"),url("d-9") format("woff"),url("a-9") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

.tk-brother-1816 { font-family: "brother-1816",sans-serif; }
